@import url(../css/fonts.css);
@import "layout.css";
@import "nav.css";
@import "footer.css";
@import "sidebar.css";

/* ----------------- Main Content----------- */

/* --------------- Site title ---------------- */
.site-title {
    background: url("../assets/Background-image.png");
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}

.site-background {
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}

main.site-title h1, h3 {
    margin: 0.3rem;
}

main .site-title .btn{
    margin: 1.8rem;
    background: var(--sky);
}

main .site-title .btn:hover{
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

/* --------x------ Site title --------x------- */

/* --------------- Blog Detail Box  ------------ */
#blog-content {
    display: flex;
    text-align: center;
}

.blog-title {
    background-color: #f9feff;
    text-align: center;
    width: calc(100% / 2);
    height: 200px;
    margin: 50px 50px 75px 50px;
    border-radius: 3px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    color: --midnight;
}
.btn-blog {
    padding: 0.7rem 2rem;
    background: var(--sky);
    margin: 0.5rem;
}

/* -------x------- Blog Detail Box  -----x------ */

/* ---------------- Site Content ----------------*/

.site-content {
    display: grid;
    grid-template-columns: 70% 30%;
}

.post-content {
    width: 100%;
}
main .meta {
    text-align: center;
}

main .post-info {
    letter-spacing: 0.05em;
    margin: 0.2em 0;
    font-size: 1.2em;
    text-align: center;
    padding-top: 1rem;
}

main .author-info {
    width: 90%;
    height: auto;
    background-color: white;
    display: flex;
}

main .author-info p {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

main .author-info-text {
    width: 100%;
}

main .circle-frame {
    display: flex;
    width: 80%;
    border-radius: 50%;
    padding: 10px 0px 10px 0px;
    padding-left: 5rem;
}

main .author-info-img {
    border-radius: 50%;
    width: 100%;
    height: auto;
    min-width: 100px;
    max-width: 200px;
    object-fit: cover;
}

main .site-content .post-content > .post-image,
.post-title {
    padding: 1rem 2rem;
    position: relative;
}

main .site-content .post-content > .post-image .post-info {
    background: var(--sky);
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    left: 20vw;
    border-radius: 3rem;
}

main .site-content .post-content > .post-image > div {
    overflow: hidden;
}

main .site-content .post-content > .post-image .img {
    width: 100%;
    transition: all 1s ease;
}

main .site-content .post-content > .post-image .img:hover {
    transform: scale(1.3);
}

main .site-content .post-content > .post-image .post-info span {
    margin: 0 0.5rem;
}

main .post-content .post-title a {
    font-family: var(--Anton);
    font-size: 1.5rem;
}

.site-content .post-content .post-title .post-btn {
    border-radius: 0;
    padding: 0.7rem 1.5rem;
    background: var(--sky);
}
.site-content .post-content .post-title blockquote {
    font-family: var(--Anton);
    font-size: 1.5rem;
    text-align: justify;
    font-style: italic;
    padding-right: 3rem;
}
.post-suggestions {
    grid-area: post-suggestions;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
}
.post-suggestions h4 {
    width: 100%;
}

.suggestion-card {
    width: 50%;
    min-width: 150px;
    height: auto;
}

.suggestion-card h6 {
    font-size: 0.8em;
}

.suggestion-card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    padding-bottom: 10px;
}
figcaption{
    float: right;
}






/* -------x-------- Site Content --------x-------*/

/* ---------x------- Main Content -----x----- */

/*              Viewport less then or equal to 1130px            */

@media only screen and (max-width: 1130px) {
    .site-content .post-content > .post-image .post-info {
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .site-content .sidebar .popular-post .post-info {
        display: none !important;
    }

    footer.footer .container {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

/*      x       Viewport less then or equal to 1130px    x     */

/*              Viewport less then or equal to 1024px            */

@media screen and (max-width: 1024px) {
    .author-info {
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/*              Viewport less then or equal to 1024px            */

/*              Viewport less then or equal to 750px            */

@media only screen and (max-width: 750px) {
    .nav .nav-menu,
    .nav .nav-items {
        flex-direction: column;
    }

    .nav .toggle-collapse {
        display: initial;
    }

    main .site-content {
        grid-template-columns: 100%;
    }

    footer.footer .container {
        grid-template-columns: repeat(1, 1fr);
    }
    .site-content .post-content .post-title blockquote {
        font-size: 0.9rem;
        padding-right: 1rem;
    }
}


/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px) {
    main .blog {
        height: 125vh;
    }

    .site-content .post-content > .post-image .post-info {
        display: none;
    }

    footer.footer .container > div {
        padding: 1rem 0.9rem !important;
    }

    footer .rights {
        padding: 0 1.4rem;
        text-align: center;
    }

    nav .toggle-collapse {
        width: 80% !important;
    }
}

/*        x      Viewport less then or equal to 520px       x     */
